
<div class="container p-4">
<div class="card mb-3" style="max-width: 640px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/manuela1.png" class="card-img" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Ingrese La tarea </h5>
          <p class="card-text">Digite la tarea y la descripcion de la tarea que desee agregar</p>
          <p class="card-text"><small class="text-muted">Universidad Manuela Beltran</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col-md-10">

            <div class="card">

                <div class="card-body">

                    <form (submit)="agregarTarea(nuevaTarea, nuevaDescripcion)">
                        <div class="form-group">
                            <input #nuevaTarea class="form-control" type="text" placeholder="Titulo">
                        </div>

                        <div class="form-group">
                            <textarea #nuevaDescripcion class="form-control" name="" id="" cols="30" rows="10"
                                placeholder="Descripcion"></textarea>

                        </div>

                        <button class="btn btn-success" > Enviar </button>

                    </form>
                  
                </div>
                
            </div>
            <div class="alert alert-success" role="alert">
                Tarea Registrada exitosamente 
              </div>
        </div>



    </div>


</div>